<html>

<head>
    <title>Dexter - About</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Load Core Materialize CSS  -->
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">

    <!-- Load jQuery and Materialize Javascript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="/static/js/about.js"></script>
    <script type="text/javascript" src="/static/js/data.json"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="blue">
            <div class="nav-wrapper">
                <a href="https://nitk.ac.in" class="brand-logo right">

                    <img class="responsive-img" src="/static/img/logo.png" style="height: 60px;">
                </a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/team">Team</a>
                    </li>
                    <li class="active">
                        <a href="/about">About</a>
                    </li>
                </ul>
                <p class="flow-text center hide-on-med-and-down">Dexter</p>
            </div>
        </nav>

    </header>

    <main>
        <h4 class="pt-sans">Search Results</h4>
        <div id="content-team-container" class="row"></div>
    </main>

    <br>
    <br>
    <hr>

    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Dexter</h5>
                    <p class="grey-text text-lighten-4">Designing Search Engines for Images</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="/Reference_paper.pdf">Base Paper</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://infotech.nitk.ac.in">IT Department Website</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 IT Department NITK Surathkal
            </div>
        </div>
    </footer>
</body>

</html>